*.vsidx
*.VC.db
*.VC.db-shm
*.VC.opendb
*.ipch
*.VC.db-wal
*.exe
BGM.flac
*.1.tlog
*.obj
*.lastbuildstate
*.pdb
*.ibd
*.items.tlog
*.ilk
*.exe.recipe
*.CppClean.log
*.json
*.log
*.exe.recipe
*.Build.CppClean.log
*.idb
GameClient.Build.CppClean.log
GameClient.log
GameClient.exe.recipe
